@page "/"
@page "/Index"
@inject CountryService Service

<PageTitle>Index</PageTitle>

<AutoCompleteControl FilterItems=this.GetItems @bind-Value=this.typeAheadText />

<div class="alert alert-info">
    typeAheadText : @typeAheadText
</div>

@code {
    private string? typeAheadText;

    private IEnumerable<Country> filteredCountries = Enumerable.Empty<Country>();

    private async Task<IEnumerable<string>> GetItems(string search)
    {
        var list = await this.Service.FilteredCountries(search, null);
        return list.Select(item => item.Name).AsEnumerable();
    }
}
