@page "/Test"
@inject CountryDataBroker Service

<PageTitle>Test</PageTitle>

<input class="form-control mb-3" type="search" @bind=this.searchValue list="countrylist" @oninput=this.OnSearchUpdated />

<datalist id="countrylist">
    @foreach (var country in filteredCountries)
    {
        <option>@country.Name</option>
    }
</datalist>

<div class="alert alert-info">
    Search Value : @searchValue
</div>

@code {
    private string? searchValue;
    private ActionLimiter inputThrottler;
    private string? filterText;

    private IEnumerable<Country> filteredCountries = Enumerable.Empty<Country>();

    public Test()
        => inputThrottler = ActionLimiter.Create(GetCountries, 300);

    protected override void OnInitialized()
        => this.filteredCountries = this.Service.Countries;

    private async Task GetCountries()
        => this.filteredCountries = await this.Service.FilteredCountries(filterText, Guid.Empty);

    private async void OnSearchUpdated(ChangeEventArgs e)
    {
        this.filterText = e.Value?.ToString() ?? string.Empty;
        if (await inputThrottler.QueueAsync())
            StateHasChanged();
    }
}